<%# PayNow button %>
<%# This PNB is for FD3 OMA QA %>

  <div onclick="document.getElementById('pay_now_form_2c87378c15').submit()">
    <form action="https://checkout.gateway.payeezyqa.com/pay" id="pay_now_form_2c87378c15" method="post">
          <input type="hidden" name="x_login" value="WSP-PP-HE-pJfTkAACPA" />
          <input type="hidden" name="x_show_form" value="PAYMENT_FORM" />
          <input type="hidden" name="x_fp_sequence" value="1505942374107279042" />
          <input type="hidden" name="x_fp_hash" value="PNB-1.0-0636192be07c83d20c7b2fcb41a3eaf95a1f9608" />
          <input type="hidden" name="x_amount" />
          <input type="hidden" name="x_currency_code" value="USD" />
          <input type="hidden" name="x_test_request" value="TRUE" />
          <input type="hidden" name="x_relay_response" value="" />
          <input type="hidden" name="donation_prompt" />
          <input type="hidden" name="button_code" value="Pay Now QA PP - P96688-49" />
          <button class="button">FD3 OMA QA PNB 2</button>
        </form>
      </div>
