<%# PayNow button %>
<%# This PNB is for FD3 OMA QA %>

  <div onclick="document.getElementById('pay_now_form_e2b986876b').submit()">
      <form action="https://checkout.gateway.payeezyqa.com/pay" id="pay_now_form_e2b986876b" method="post">
        <input type="hidden" name="x_login" value="WSP-ROBER-plH65gAB&A" />
        <input type="hidden" name="x_show_form" value="PAYMENT_FORM" />
        <input type="hidden" name="x_fp_sequence" value="14998140482517008593" />
        <input type="hidden" name="x_fp_hash" value="PNB-1.0-b428a234cce36d0f56ea88c3c96f4174826df92a" />
        <input type="hidden" name="x_amount" />
        <input type="hidden" name="x_currency_code" value="USD" />
        <input type="hidden" name="x_test_request" value="TRUE" />
        <input type="hidden" name="x_relay_response" value="" />
        <input type="hidden" name="donation_prompt" />
        <input type="hidden" name="button_code" value="Pay Now Roberto OMA QA PP" />
        <button class="button">FD3 OMA QA PNB</button>
      </form>
  </div>
