<%# PayNow button %>
<%# This PNB is for FD3 PGW AP QA %>
<%# Account: Checkout Demo; PP: AP Q59839-94 PNB = WSP-CHECK-TkHUigACXA %>

<div onclick="document.getElementById('pay_now_form_6ec1dec2d1').submit()">
  <form action="https://checkout.gateway.payeezyqa.com/pay" id="pay_now_form_6ec1dec2d1" method="post">
    <input type="hidden" name="x_login" value="WSP-CHECK-TkHUigACXA" />
    <input type="hidden" name="x_show_form" value="PAYMENT_FORM" />
    <input type="hidden" name="x_fp_sequence" value="15173284554053084144" />
    <input type="hidden" name="x_fp_hash" value="PNB-1.0-8208e53fb4f93a3835ccc4469386bd45b0d32142" />
    <input type="hidden" name="x_amount" />
    <input type="hidden" name="x_currency_code" value="USD" />
    <input type="hidden" name="x_test_request" value="TRUE" />
    <input type="hidden" name="x_relay_response" value="" />
    <input type="hidden" name="donation_prompt" />
    <input type="hidden" name="button_code" value="Pay Now AP Q59839-94 PNB" />
    <button class="button">FD QA AP PNB</button>
  </form>
</div>
