<%# PayNow button %>
<%# This PNB is for FD4 PGW FT2 %>
<%# This is a TEMPORARY PNB from account E-xact Testing - Payment Pages %>

<div onclick="document.getElementById('pay_now_form_7e7ff51aa6').submit()">
  <form action="https://checkout-ft2.gateway.payeezytest.com/pay" id="pay_now_form_7e7ff51aa6" method="post">
    <input type="hidden" name="x_login" value="WSP-E-XAC-dIPVFAAACw" />
    <input type="hidden" name="x_show_form" value="PAYMENT_FORM" />
    <input type="hidden" name="x_fp_sequence" value="15103625621774756421" />
    <input type="hidden" name="x_fp_hash" value="PNB-1.0-0efa80c0752dd7408972e52214806724ee379506" />
    <input type="hidden" name="x_amount" />
    <input type="hidden" name="x_currency_code" value="USD" />
    <input type="hidden" name="x_test_request" value="TRUE" />
    <input type="hidden" name="x_relay_response" value="" />
    <input type="hidden" name="donation_prompt" />
    <input type="hidden" name="button_code" value="FD4 FT2 PNB Apple Pay" />
    <button class="button">FD FT2 PNB Apple Pay</button>
  </form>
</div>
