<%# PayNow button %>
<%# This PNB is for FD5 PGW FT1 %>

  <div onclick="document.getElementById('pay_now_form_4d7333e200').submit()">
      <form action="https://checkout-ft1.gateway.payeezytest.com/pay" id="pay_now_form_4d7333e200" method="post">
        <input type="hidden" name="x_login" value="WSP-RVILL-qNTq2QABFQ" />
        <input type="hidden" name="x_show_form" value="PAYMENT_FORM" />
        <input type="hidden" name="x_fp_sequence" value="14998198343430421291" />
        <input type="hidden" name="x_fp_hash" value="PNB-1.0-e0ba139cadc779e16a6897a588836a5484eb0fc3" />
        <input type="hidden" name="x_amount" />
        <input type="hidden" name="x_currency_code" value="USD" />
        <input type="hidden" name="x_test_request" value="TRUE" />
        <input type="hidden" name="x_relay_response" value="" />
        <input type="hidden" name="donation_prompt" />
        <input type="hidden" name="button_code" value="Pay Now FT1 PP" />
        <button class="button">FD5 FT1 PNB</button>
      </form>
    </div>
