<%# This PNB is for FD6 PGW AP EUR CAT %>
<%# Account: Checkout Demo; PP: AP EUR - R69855-68; WSP-CHECK-@fonwwACZA %>

<div onclick="document.getElementById('pay_now_form_ca763205d3').submit()">
  <form action="https://checkout-cat.gateway.payeezytest.com/pay" id="pay_now_form_ca763205d3" method="post">
    <input type="hidden" name="x_login" value="WSP-CHECK-@fonwwACZA" />
    <input type="hidden" name="x_show_form" value="PAYMENT_FORM" />
    <input type="hidden" name="x_fp_sequence" value="15178039169150348" />
    <input type="hidden" name="x_fp_hash" value="PNB-1.0-efc1aa64371ad4e5611dcb6321007a15fb52d8b5" />
    <input type="hidden" name="x_amount" />
    <input type="hidden" name="x_currency_code" value="EUR" />
    <input type="hidden" name="x_test_request" value="TRUE" />
    <input type="hidden" name="x_relay_response" value="" />
    <input type="hidden" name="donation_prompt" />
    <input type="hidden" name="button_code" value="Pay Now AP EUR - R69855-68" />
    <button class="button">FD CAT AP EUR PNB</button>
  </form>
</div>
