<%# PayNow button %>
<%# This PNB is for FD6 PGW CAT %>

<div onclick="document.getElementById('pay_now_form_8399dc041a').submit()">
  <form action="https://checkout-cat.gateway.payeezytest.com/pay" id="pay_now_form_8399dc041a" method="post">
    <input type="hidden" name="x_login" value="WSP-CAT-D-yTHtZgABvA" />
    <input type="hidden" name="x_show_form" value="PAYMENT_FORM" />
    <input type="hidden" name="x_fp_sequence" value="15096556431537330993" />
    <input type="hidden" name="x_fp_hash" value="PNB-1.0-f6fd83216b79c8d12f660d0d1986c77a9a2a556c" />
    <input type="hidden" name="x_amount" />
    <input type="hidden" name="x_currency_code" value="USD" />
    <input type="hidden" name="x_test_request" value="TRUE" />
    <input type="hidden" name="x_relay_response" value="" />
    <input type="hidden" name="donation_prompt" />
    <input type="hidden" name="button_code" value="FD6 CAT PNB" />
    <button class="button">FD CAT PNB</button>
  </form>
</div>
