<%# PayNow button %>
<%# This PNB is for FD7 PGW CERT %>

<div onclick="document.getElementById('pay_now_form_4aaff03e00').submit()">
    <form action="https://checkout-crt.gateway.payeezytest.com/pay" id="pay_now_form_4aaff03e00" method="post">
      <input type="hidden" name="x_login" value="WSP-CERT-R0eiVwABIQ" />
      <input type="hidden" name="x_show_form" value="PAYMENT_FORM" />
      <input type="hidden" name="x_fp_sequence" value="15098156752125642684" />
      <input type="hidden" name="x_fp_hash" value="PNB-1.0-2ce992d19c17b6ce4184fd839bce5d2303bf7977" />
      <input type="hidden" name="x_amount" />
      <input type="hidden" name="x_currency_code" value="USD" />
      <input type="hidden" name="x_test_request" value="TRUE" />
      <input type="hidden" name="x_relay_response" value="" />
      <input type="hidden" name="donation_prompt" />
      <input type="hidden" name="button_code" value="FD7 CERT PNB" />
      <button class="button">FD7 CERT PNB</button>
    </form>
</div>
