  <%# PayNow button %>
  <%# CERT - Fee - Tiered - G35228-85 PP %>

<div onclick="document.getElementById('pay_now_form_0b9018fac0').submit()">
  <form action="https://checkout-crt.gateway.payeezytest.com/pay" id="pay_now_form_0b9018fac0" method="post">
    <input type="hidden" name="x_login" value="WSP-CRT-D-f7saoQABZQ" />
    <input type="hidden" name="x_show_form" value="PAYMENT_FORM" />
    <input type="hidden" name="x_fp_sequence" value="15342727853473945367" />
    <input type="hidden" name="x_fp_hash" value="PNB-1.0-825c155effefcb265ce592636391d25516c0d7db" />
    <input type="hidden" name="x_amount" />
    <input type="hidden" name="x_currency_code" value="USD" />
    <input type="hidden" name="x_test_request" value="TRUE" />
    <input type="hidden" name="x_relay_response" value="" />
    <input type="hidden" name="donation_prompt" />
    <input type="hidden" name="button_code" value="FD7 CERT Fee Tiered PNB" />
    <button class="button">FD CERT - Fee: Tiered - PNB</button>
  </form>
</div>
