<%# PayNow button %>
<%# This PNB is for FD7 PGW CERT %>

<div onclick="document.getElementById('pay_now_form_a5c54a0714').submit()">
  <form action="https://checkout-crt.gateway.payeezytest.com/pay" id="pay_now_form_a5c54a0714" method="post">
    <input type="hidden" name="x_login" value="WSP-CRT-D-n71lfQABQw" />
    <input type="hidden" name="x_show_form" value="PAYMENT_FORM" />
    <input type="hidden" name="x_fp_sequence" value="1532642878947049199" />
    <input type="hidden" name="x_fp_hash" value="PNB-1.0-7929df2c1c3f4375b88641e095a541ae3c3721ab" />
    <input type="hidden" name="x_amount" />
    <input type="hidden" name="x_currency_code" value="USD" />
    <input type="hidden" name="x_test_request" value="TRUE" />
    <input type="hidden" name="x_relay_response" value="" />
    <input type="hidden" name="donation_prompt" />
    <input type="hidden" name="button_code" value="FD7 CERT PNB" />
    <button class="button">FD CERT PNB</button>
  </form>
</div>
