<%# PayNow button %>
<%# This PNB is for P1 QA %>

<div onclick="document.getElementById('pay_now_form_58d0d66bc1').submit()">
  <form action="https://checkout.exactpayqa.com/pay" id="pay_now_form_58d0d66bc1" method="post">
    <input type="hidden" name="x_login" value="WSP-PP-HE-pJfTkAACPA" />
    <input type="hidden" name="x_show_form" value="PAYMENT_FORM" />
    <input type="hidden" name="x_fp_sequence" value="16184518643251751265" />
    <input type="hidden" name="x_fp_hash" value="PNB-1.0-10282902f80eca222f2ad100ead1c26c7c3d7eb558da9e5edc5f8c204247f7d2" />
    <input type="hidden" name="x_amount" />
    <input type="hidden" name="x_currency_code" value="USD" />
    <input type="hidden" name="x_test_request" value="TRUE" />
    <input type="hidden" name="x_relay_response" value="" />
    <input type="hidden" name="donation_prompt" />
    <input type="hidden" name="button_code" value="Pay Now QA PP - P96688-49" />
    <button class="button">P1 QA PNB</button>
  </form>
</div>
