<% if current_user.try(:admin?) %>

  <h1>New Product</h1>

  <%= render 'form' %>

  <%= link_to 'Back', products_path %>

<% else  %>

  <br><br>
  <h2>Sorry! You are not an Administrator! </h2>

<% end %>
